.input1 {
  width: 25px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}


.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.submit-btn:active {
  background-color: #840909;
  transform: scale(0.98);
}


input{
    margin: 10px;
    margin-left: 0px;
    padding: 20px;
    width: 300px;
    height: 20px;
    border-radius: 8px;
}